@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .product-grid-lines {
        @apply text-stone-300 stroke-2 transition-colors group-hover:text-stone-400
    }
}

@layer components {
    .bg-texture {
        @apply bg-[url('/bg-texture.webp')] bg-[length:720px_460px] bg-center bg-repeat;
    }

    .button-cutout {
        position: relative;
        filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000) drop-shadow(8px 8px 0 #000);

        &:hover {
            filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000) drop-shadow(2px 2px 0 #000);
        }

        &::before {
            position: absolute;
            top: 0;
            right: calc(100% - 1px);
            content: "";
            background: inherit;
            width: 1rem;
            height: 100%;
            clip-path: polygon(23% 19%,
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    29% 79%,
                    9% 80%,
                    0 33%);
        }

        &::after {
            position: absolute;
            top: 0;
            left: calc(100% - 1px);
            content: "";
            background: inherit;
            width: 1rem;
            height: 100%;
            clip-path: polygon(100% 0,
                    74% 28%,
                    100% 29%,
                    100% 70%,
                    84% 78%,
                    100% 100%,
                    0 100%,
                    0 0);
        }
    }

    .hero-logo {
        @apply w-full text-brand-purple opacity-20 mix-blend-multiply;
    }

    .product-grid-vertical-lines {
        @apply product-grid-lines absolute top-0 h-full;
    }

    .product-grid-horizontal-lines {
        @apply product-grid-lines -mx-8;
    }

    .parallax-images {
        @apply col-start-1 row-start-1 transition-transform
    }
}