@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center
    }

    .product-grid-lines {
        @apply text-stone-300 stroke-2 transition-colors group-hover:text-stone-400
    }

    .team-image-transform {
        @apply transform transition-all duration-1000 ease-in-out
    }
}

@layer components {
    .bg-texture {
        @apply bg-[url('/bg-texture.webp')] bg-[length:720px_460px] bg-center bg-repeat;
    }

    .button-cutout {
        position: relative;
        filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000) drop-shadow(8px 8px 0 #000);

        &:hover {
            filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000) drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000) drop-shadow(2px 2px 0 #000);
        }

        &::before {
            position: absolute;
            top: 0;
            right: calc(100% - 1px);
            content: "";
            background: inherit;
            width: 1rem;
            height: 100%;
            clip-path: polygon(23% 19%,
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    29% 79%,
                    9% 80%,
                    0 33%);
        }

        &::after {
            position: absolute;
            top: 0;
            left: calc(100% - 1px);
            content: "";
            background: inherit;
            width: 1rem;
            height: 100%;
            clip-path: polygon(100% 0,
                    74% 28%,
                    100% 29%,
                    100% 70%,
                    84% 78%,
                    100% 100%,
                    0 100%,
                    0 0);
        }
    }

    .hero-logo {
        @apply w-full text-brand-purple opacity-20 mix-blend-multiply;
    }

    .product-grid-vertical-lines {
        @apply product-grid-lines absolute top-0 h-full;
    }

    .product-grid-horizontal-lines {
        @apply product-grid-lines -mx-8;
    }

    .parallax-images {
        @apply col-start-1 row-start-1 transition-transform
    }

    .video-masks {
        @apply absolute [mask-image:url(/video-mask.png)] [mask-position:center-center] [mask-size:100%_auto] [mask-mode:alpha] [mask-repeat:no-repeat]
    }

    .stack-layout {
        @apply grid place-items-center;
        grid-template-areas: 'stack';
    }

    .stack-layout>* {
        grid-area: stack;
    }
}